<div class="container">
    <div id="title">
        <h1>{{title}}</h1>
        <h2>{{subtitle}}</h2>
        <p>{{web}}</p>
    </div>

    <article id="about">
        <h2>Sobre mí</h2>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eaque culpa minima reiciendis tempora autem nam
            officiis natus explicabo est praesentium. Maxime esse fugit perspiciatis amet, aspernatur, quidem error
            ratione consequuntur voluptatum perferendis iure sed saepe veritatis voluptate laborum, laboriosam voluptas
            expedita ipsam consectetur velit quia. Officia debitis qui enim doloremque earum omnis eos voluptatem ea?
            Delectus modi nemo distinctio accusantium quo dolore sunt repellendus ullam vel. Doloremque libero quaerat
            ab commodi tenetur voluptatibus eligendi explicabo obcaecati odio nam maiores, illo incidunt accusamus! Quo
            fugiat magnam ipsam quaerat! Vitae maiores omnis adipisci ducimus laboriosam, ipsum quae voluptas similique
            libero autem placeat! Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsum ea sequi ipsam
            necessitatibus impedit sit aspernatur ducimus architecto dolores saepe quidem eaque, dolor explicabo ut
            consectetur soluta eos natus! Numquam! Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem quam
            magni corrupti. Voluptates facere recusandae autem ipsa temporibus. Veritatis sequi iusto exercitationem
            soluta similique vitae mollitia cum veniam nemo illo!</p>
    </article>
</div>